*.npy
.DS_Store
__pycache__/
.ipynb_checkpoints
env/
.vscode/
.idea/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.log
*.aux
*.out
*.toc
*.gz
*.zip
*.tar
*.rar
*.7z
*.egg
*.egg-info
dist/
build/
.eggs/
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.tox/
pip-wheel-metadata/
htmlcov/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
instance/
.webassets-cache
.scrapy
docs/_build/
target/
